<!-- filepath: app/views/project_dates/show.html.erb -->
<h2>Project Date Details</h2>

<p>
  <strong>Project:</strong>
  <%= @project_date.project&.name %>
</p>
<p>
  <strong>Start Date:</strong>
  <%= @project_date.start_date.strftime("%Y-%m-%d") %>
</p>
<p>
  <strong>End Date:</strong>
  <%= @project_date.end_date.strftime("%Y-%m-%d") %>
</p>

<%= link_to "Edit", edit_project_date_path(@project_date), class: "btn btn-primary" %>
<%= link_to "Back", project_dates_path, class: "btn btn-secondary" %>

<%= link_to project_date_path(@project_date), data: { turbo_method: :delete,  confirm: "Are you sure you want to delete this project date?" }, class: "btn btn-danger", title: "Delete" do %>
  <i class="fa fa-trash"></i>
<% end %>
