<div style="display: flex;">
  <div style="flex: 2; margin-right: 2rem;">
    <h2>Invoices</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Invoice</th>
        </tr>
      </thead>
      <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td>
            <%= link_to invoice_path(invoice), data: { turbo_frame: "_top" }, class: "button" do %>
            <%= invoice.project.name %>
            <% end %>
          </td>
          <td><%= invoice.project.project_date.start_date.strftime("%Y-%m-%d") if invoice.project.project_date %></td>
          <td><%= invoice.project.project_date.end_date.strftime("%Y-%m-%d") if invoice.project.project_date %></td>
          <td><%= invoice.status ? "Paid" : "Unpaid" %></td>
          <td>
            <%= link_to invoice_path(invoice) do %>
              <%= image_tag("invoice.png", alt: "Invoice", width: 32, height: 32) %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div style="flex: 1;">
    <h2>New Invoice</h2>
    <div style="display: flex; align-items: flex-start; gap: 0.5rem; margin-bottom:1rem;">
      <%= render "shared/invoicesForm", invoice: @invoice %>
    </div>
  </div>
</div>
<div data-controller="invoice-performance"
    data-invoice-performance-current-year="<%= Time.current.year %>"
    data-invoice-performance-url="<%= invoices_path(format: :json) %>">

  <div class="mb-2">
    <button data-action="click->invoice-performance#previousYear">← Prev</button>
    <span id="year-label"><%= Time.current.year %></span>
    <button data-action="click->invoice-performance#nextYear">Next →</button>
  </div>

  <canvas id="invoicePerformanceChart" width="400" height="200"></canvas>
</div>
