<div class=" justify-content-center">
    <div class="col-sm-8 my-3">
    <%= form_with url: root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "input",
            placeholder: "Type a keyword"%>
      <%= submit_tag "search", name: "", class: "button"%>
    <% end %>
    </div>
  </div>
<h2>Clients</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Projects</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% clients.each do |client| %>
      <tr>
        <td><%= client.first_name %> <%= client.last_name %></td>
        <td><%= client.email %></td>
        <td><%= client.projects.count %></td>
        <td>
          <%= link_to "Client",  client_path(client), data: { turbo_frame: "_top" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div data-controller="client-performance"
    data-client-performance-current-year="<%= Time.current.year %>"
    data-client-performance-url="<%= url_for(only_path: true, format: :json) %>">

  <div class="mb-2">
    <button data-action="click->client-performance#previousYear" class="button">← Prev</button>
    <span class="ibutton" id="year-label"><%= Time.current.year %></span>
    <button data-action="click->client-performance#nextYear" class="button">Next →</button>
  </div>

  <canvas id="clientPerformanceChart" width="1000" height="200"></canvas>
</div>
