<div class=" justify-content-center">
  <div class="col-sm-8 my-3">
  <%= form_with url: root_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "input",
          placeholder: "Type a keyword"%>
    <%= submit_tag "search", name: "", class: "button"%>
  <% end %>
  </div>
</div>
<h2>Projects</h2>
<table class="table table-striped shadow">
  <thead>
    <tr>
      <th>Name</th>
      <th>Client</th>
      <th>Start&nbsp;Date</th>
      <th>End&nbsp;Date</th>
      <th>Status</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    <% projects.first(5).each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.client.first_name %><%= project.client.last_name %></td>
        <td><%= project.project_date&.start_date&.strftime("%B %-d %Y") %></td>
        <td><%= project.project_date&.end_date&.strftime("%B %-d %Y") %></td>
        <td><%= project.status ? "Active" : "Inactive" %></td>
        <td>
          <%= link_to "Project", project_path(project), data: { turbo_frame: "_top" }, class: "text-decoration-none shadow" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div data-controller="project-performance"
    data-project-performance-current-year="<%= Time.current.year %>"
    data-project-performance-url="<%= url_for(only_path: true, format: :json) %>">
  <div class="mb-2">
    <button data-action="click->project-performance#previousYear" class="button">← Prev</button>
    <span class="ibutton" id="year-label"><%= Time.current.year %></span>
    <button data-action="click->project-performance#nextYear" class="button">Next →</button>
  </div>
  <canvas id="projectPerformanceChart" width="1000" height="200"></canvas>
</div>
