<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo3.png" %>
      <% end %>
    </header>
    <ul class="nav">
    <% if user_signed_in? %>
    <li class="nav-item dropdown mt-auto">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-bottom: none;">
            <% if user_signed_in? && current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, class: "avatar", alt: "User avatar" %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar rounded-circle", alt: "dropdown menu" %>
            <% end %>
          </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
      </li>
      <li>
        <a href="#">
          <%= link_to "Dashboard", root_path, class: "nav-link" %>
      </li>
      <li>
          <%= link_to "Clients", clients_path, class: "nav-link" %>
      </li>
      <li>
          <%= link_to "Projects", projects_path, class: "nav-link" %>
      </li>
      <li>
          <%= link_to "Invoices", invoices_path, class: "nav-link" %>
      </li>
      <li>
          <%= link_to 'Calendar', project_dates_path, class: "nav-link" %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
        </a>
    </ul>
  </div>
  <!-- Content -->
  <div id="content">

  </div>
</div>
