<tr class="shadow", id="<%= dom_id(client) %>">
  <td >
    <%= link_to client_path(client), data: { turbo_frame: "_top" }, class: "button " do %>
    <%= client.company_name %>
    <% end %>
  </td>
  <td><%= "#{client.first_name} #{client.last_name}" %></td>
  <td><%= client.email %></td>
  <td>
    <%= link_to client_path(client), data: { turbo_frame: "_top" },
          class: "show" do %>
          <i class="fa-solid fa-eye"></i>
          <% end %>

    <%= link_to edit_client_path(client), data: { turbo_frame: "_top" },
          class: "edit" do %>
          <i class="fa-solid fa-file-pen"></i>
          <% end %>

    <%= link_to client_path(client), data: { controller: "swal-confirm", turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this client?", swal_text: "This cannot be reverted!", turbo_frame: "_top" }, class: "button" do %>
    <i class="fa-solid fa-trash"></i>
    <% end %>
  </td>
</tr>
