<h1><%= @client.first_name %> <%= @client.last_name %></h1>
<div data-controller="swal-confirm">
<p>E-Mail: <%= @client.email %></p>
<p>Telefon: <%= @client.phone_number %></p>

<%= link_to  client_path(@client), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button" do %>
<i class="fa-solid fa-trash"></i>
<% end %>
<%= link_to clients_path, class: "button" do%>
<i class="fa-solid fa-rotate-left"></i>
<% end %>
</div>
