<div class="container mt-4" data-controller="dash">
  <div class="d-flex flex-wrap justify-content-between gap-3" data-dash-target="cards">
    <!-- Invoices -->
    <%= link_to dashboard_invoices_path,
                data:  { turbo_frame: "dash_grid", action: "dash#activate" },
                class: "card shadow-sm flex-fill text-decoration-none",
                style: "min-width: 200px;" do %>
      <div class="card-body">
        <h5 class="card-title text-muted">Total Invoices</h5>
        <h1><%= @invoices_count %></h1>
      </div>
    <% end %>
    <!-- Clients -->
    <%= link_to dashboard_clients_path,
                data:  { turbo_frame: "dash_grid", action: "dash#activate" },
                class: "card shadow-sm flex-fill text-decoration-none",
                style: "min-width: 200px;" do %>
      <div class="card-body">
        <h5 class="card-title text-muted">Total Clients</h5>
        <h1><%= @clients_count %></h1>
      </div>
    <% end %>
    <!-- Projects -->
    <%= link_to dashboard_projects_path,
                data:  { turbo_frame: "dash_grid", action: "dash#activate" },
                class: "card shadow-sm flex-fill text-decoration-none",
                style: "min-width: 200px;" do %>
      <div class="card-body">
        <h5 class="card-title text-muted">Total Projects</h5>
        <h1><%= @projects_count %></h1>
      </div>
    <% end %>
  </div>
  <turbo-frame id="dash_grid" class="mt-4">
    <%= render "shared/invoicesGrid", invoices: @invoices %>
  </turbo-frame>
</div>
