<div class="container mt-4" data-controller="dash"> <%# THIS activates the dash_controller.js which targets the cards %>
  <div class="d-flex flex-wrap justify-content-between gap-3" data-dash-target="cards">
    <!-- Invoices -->
    <%= link_to dashboard_invoices_path,  # points to the linked route in routes
                data:  { turbo_frame: "dash_grid", action: "dash#activate" },   # when clicked, only this frame is refreshed with
                class: "card shadow flex-fill text-decoration-none",         # the matching route and attr of "dash_grid"
                style: "min-width: 200px; border-radius: 10px;" do %>
      <div class="card-body">
        <h5 class="card-title text-muted">Total Invoices</h5>
        <h1><%= @invoices_count %></h1>
      </div>
    <% end %>
    <!-- Clients -->
    <%= link_to dashboard_clients_path,   # points to the linked route in routes
                data:  { turbo_frame: "dash_grid", action: "dash#activate" },   # when clicked, only this frame is refreshed with
                class: "card shadow flex-fill text-decoration-none",         # the matching route and attr of "dash_grid"
                style: "min-width: 200px; border-radius: 10px;" do %>
      <div class="card-body">
        <h5 class="card-title text-muted">Total Clients</h5>
        <h1><%= @clients_count %></h1>
      </div>
    <% end %>
    <!-- Projects -->
    <%= link_to dashboard_projects_path,  # points to the linked route in routes
                data:  { turbo_frame: "dash_grid", action: "dash#activate" },   # when clicked, only this frame is refreshed with
                class: "card shadow flex-fill text-decoration-none",         # the matching route and attr of "dash_grid"
                style: "min-width: 200px; border-radius: 10px;" do %>
      <div class="card-body">
        <h5 class="card-title text-muted">Total Projects</h5>
        <h1><%= @projects_count %></h1>
      </div>
    <% end %>
  </div>
  <turbo-frame id="dash_grid" class="mt-4">
    <%= render "shared/invoicesGrid", invoices: @invoices %>
  </turbo-frame>
</div>
<%# This page is being called on initially on the dashboard path %>
