<tr id="<%= dom_id(project) %>">
  <td><%= project.name %></td>
  <td>
    <span class="badge <%= project.status ? 'bg-success' : 'bg-warning' %>">
      <%= project.status ? "Completed" : "Pending" %>
    </span>
  </td>
  <td><%= project.client&.company_name %></td>
  <td>
    <%= link_to project_path(project), data: { turbo_frame: "_top" }, class: "show" do  %>
    <i class="fa-solid fa-eye"></i>
    <% end %>

    <%= link_to edit_project_path(project), data: { turbo_frame: "_top" }, class: "edit" do %>
    <i class="fa-solid fa-file-pen"></i>
    <% end %>
    <%= link_to project_path(project),
      method: :delete, data: { confirm: "Are you sure?" }, data: { turbo_frame: "_top" },
      class: "delete" do %>
    <i class="fa-solid fa-trash"></i>
    <% end %>
  </td>
</tr>
