<tr id="<%= dom_id(project) %>">
  <td>
    <%= link_to project_path(project), data: { turbo_frame: "_top" }, class: "button"  do %>
    <%= project.name %>
    <% end %>
  </td>
  <td>
    <span class="badge <%= project.status ? 'bg-success' : 'bg-warning' %>">
      <%= project.status ? "Completed" : "Pending" %>
    </span>
  </td>
  <td><%= project.client.first_name %> <%= project.client.last_name %></td>
  <td><%= project.client&.company_name %></td>
  <td class="text-nowrap">
    <%= link_to project_path(project), data: { turbo_frame: "_top" }, class: "show" do  %>
    <i class="fa-solid fa-eye"></i>
    <% end %>

    <%= link_to edit_project_path(project), data: { turbo_frame: "_top" }, class: "edit" do %>
    <i class="fa-solid fa-file-pen"></i>
    <% end %>
    <%= link_to project_path(project),
                            data: { controller: "swal-confirm", turbo_method: :delete, turbo_confirm: 'Are you sure?', swal_text: 'This cannot be reverted!', turbo_frame: "_top" },
                            class: 'delete' do %>
                  <i class="fa-solid fa-trash"></i>
    <% end %>
  </td>
</tr>
