<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card-show">
    <div class="border"></div>
      <div class="card-header text-center text-black">
        <h2> Project Details </h2>
         <ul class="list-group list-group-flush mb-3 text-start">
          <li class="list-item-show"><strong>Project Name: </strong><%= @project.name %></li>
          <li class="list-item-show"><strong>Client: </strong><%= @project.client&.company_name %></li>
          <% if @project.project_date %>
            <li class="list-item-show"><strong>Start Date: </strong><%= @project.project_date.start_date %></li>
            <li class="list-item-show"><strong>End Date: </strong><%= @project.project_date.end_date %></li>
          <% end %>
          <li class="list-item-show"><strong>Price: </strong> $ <%= @project.price %></li>
          <li class="list-item-show">
            <strong>Status: </strong>
            <span class="badge <%= @project.status ? 'bg-success' : 'bg-warning' %>">
              <%= @project.status ? 'Paid' : 'Not paid' %>
            </span>
          </li>
        </ul>
      </div>
      <div>
        <div data-controller="swal-confirm">
          <%= link_to "Remove Project", project_path(@project), data: { turbo_method: :delete, turbo_confirm: "Are you sure?", swal_text: "This cannot be reverted!!" }, class: "btn btn-warning" %>
          <%= link_to "Back", projects_path %>
          <%= link_to "Edit", edit_project_path(@project) %>
        </div>
      </div>
    </div>
  </div>
