<!DOCTYPE html>
<html>
  <head>
    <title>Freelancer Invoice Generator - Simplify Freelance Billing</title>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="invoice generator application for freelancers">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= tag.meta name: "swal-logo", content: asset_path("logo6.png") %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.js"></script>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag "chartkick" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div style="display: flex; min-height: 100vh;">
      <%= render "shared/sidebar" %>
      <main style="flex: 1;">
        <%# <%= render "shared/flashes"            REMOVED THE ALERST AND NOTICES WHEN CREATING/DELETING/SIGNING IN - restore these lines to add them back in %>
        <%# <p class="notice"><%= notice %>
        <%# <p class="alert"><%= alert %>
        <div style="min-height: calc(100vh - 100px);" class="pt-3">
          <%= yield %>
        </div>
        <%= render "shared/footer" %>
      </main>
    </div>
  </body>
</html>
