<!DOCTYPE html>
<html>
  <head>
    <title>FreelancerInvoiceGenerator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.js"></script>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag "chartkick" %>
  </head>
  <body>
    <div style="display: flex; min-height: 100vh;">
      <%= render "shared/sidebar" %>
      <main style="flex: 1;">
        <%= render "shared/flashes" %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div style="min-height: calc(100vh - 100px);">
          <%= yield %>
        </div>
        <%= render "shared/footer" %>
      </main>
    </div>
  </body>
</html>
